@charset "utf-8";

@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");

body{font-family:'Noto Sans KR',"맑은 고딕","Malgun Gothic",sans-serif;font-size:14px;}
a{color:#252425;}

#wrap{width:995px;height:370px;margin:105px auto;position:relative;}
#logo{padding:28px 0 72px 20px;}
#theme{padding-left:19px;}
#theme p:nth-child(1){padding-bottom:30px;}
#theme p:nth-child(2){padding-bottom:8px;}

#work{position:absolute;top:185px;left:252px;}
#work p:nth-child(1){padding-bottom:30px;}
#work p:nth-child(2),#work p:nth-child(3){padding-bottom:4px;}

.x{position:absolute;top:52px;right:0;}
.look{position:absolute;top:182px;right:0;}

img{vertical-align:top}
