@charset "utf-8";

@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");

body{font-family:'Noto Sans KR',"맑은 고딕","Malgun Gothic",sans-serif;font-size:20px;}
#btnG{width:1185px;height:370px;margin:0 auto;}
.btn{float:right;margin-top:100px;}
img{vertical-align:top}

